{
  "extends": "google",
  "parserOptions": {
    "ecmaVersion": 6
  },
  "env": {
    "node": true,
    "mocha": true
  },
  "rules": {
    "valid-jsdoc": 0,
    "require-jsdoc": 0,
    "comma-dangle": ["error", "never"],
    "arrow-parens": ["error", "as-needed"]
  }
}
