{
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "describe"   : false,
    "it"         : false,
    // "before"     : false,
    // "beforeEach" : false,
    // "after"      : false,
    // "afterEach"  : false
  },
  "rules": {
    "eqeqeq": 0,
    "curly": 0,
    "quotes": [ 2, "single" ],
    "valid-jsdoc": 1,
    "no-use-before-define": 1,
    "no-underscore-dangle": 1,
    "no-extend-native": 1
  }
}
